/* Color Theme Swatches in Hex */
$light-pink1: #F2D5F2;
$light-pink2: #ECBDF2;
$light-pink3: #DCA7F2;
$light-pink4: #BB94F2;
$light-purple: #8268A6;
$navbarBackground:#1F2024;
$headerColor:#B31217;
$light-blue:#B0FFEF;
$black:#000;

